<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>gogoat</title>

    <!-- Bootstrap core CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">
      <div class="row">
		<div><b>vul01  </b><a href="/ping?ip=127.0.0.1" >cmdinject</a></div>
		<div><b>vul02  </b><a href="/sqlxorm?key=zero" >xorm sqlinject</a></div>
		<div><b>vul03  </b><a href="/sqlraw?key=zero" >rawsqlinject</a></div>
		<div><b>vul04  </b><a href="/ssrf?url=127.0.0.1" >ssrf</a></div>
		<div><b>vul05  </b><a href="/upload" >upload</a></div>
		<div><b>vul06  </b><a href="/reflectXss?key=a" >reflect xss</a></div>
      </div>
	</div>

    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </body>
</html>