<html>
<head>
<meta charset="utf-8">
<title>edit profile</title>
<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

</head>
<body>

<p>

	<h1>hi, {{.}} </h1>
	<p>pls input what password you want change to</p>
	<form name="input" method="post" action="/csrf" >
	<table>
				<input type="password" name="newpass01" class="form-control" placeholder="pls input you new pass">
				<input type="password" name="newpass02" class="form-control" placeholder="pls input you new pass again">
				<button class="btn btn-lg btn-primary btn-block" >submit</button>
	</form>
</p> 
</body>
</html>