<html>
<head>
<meta charset="utf-8">
<title>home</title>
</head>
<body>

<h1>home!</h1>
<p>
	<div><b>vul01  </b><a href="/ping?ip=127.0.0.1" >cmdinject</a></div>
	<div><b>vul02  </b><a href="/sqlxorm?key=zero" >xorm sqlinject</a></div>
	<div><b>vul03  </b><a href="/sqlraw?key=zero" >rawsqlinject</a></div>
	<div><b>vul04  </b><a href="/ssrf?url=127.0.0.1" >ssrf</a></div>
	<div><b>vul05  </b><a href="/upload" >upload</a></div>
	<div><b>vul06  </b><a href="/reflectXss?key=a" >reflect xss</a></div>
</p> 
</body>
</html>